*{
    box-sizing: border-box;
}

main{
    width: 90%;
    margin:auto;
}


@font-face {
    font-family:EuroStyleBold;
    src: url("../public/font/EurostileBold.ttf");
}

// $red:#c01803;
// $nav:#363636;
// $overskrift: #595959;
// $button: #b40003;
// $gray: #a9a8a4;


.headlineTitle{
	width: 100%;
	height: auto;
	background-color: #595959;
	color: white;
	margin:  auto;
	padding:0px;
	text-align: center;
	border-radius: 5px;
	font-size: 25px;
	font-family: "EuroStyleBold";
}

.sectionContent{
	margin: 50px 0px;
}

.clearboth{
    clear:both;
}
